<div *ngIf="network" class="network-info">
  <h2>{{network.name}}</h2>

  <div><span>ID: </span>{{network.id}}</div>
  <div><span>Name: </span>{{network.name}}</div>
  <div><span>Description: </span>{{network.description}}</div>

  <div><span>Network Type: </span>{{network.networkType}}</div>
  <div><span>Consensus Type: </span>{{network.consensusType}}</div>
  <div><span>Nodes: </span>{{network.nodes.length}}</div>

  <graph [nodes]="network.nodes" [links]="network.links" [watch]="watch"></graph>

</div>
