@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import "~bootstrap/scss/bootstrap";
@font-face{
  font-family:FfMarkLight;
  src:url(/assets/fonts/ff-mark/light.woff) format("woff")
}
@font-face{
  font-family:FfMarkXLight;
  src:url(/assets/fonts/ff-mark/xlight.woff) format("woff")
}
@font-face{
  font-family:FfMarkThin;
  src:url(/assets/fonts/ff-mark/thin.woff) format("woff")
}
@font-face{
  font-family:FfMarkMedium;
  src:url(/assets/fonts/ff-mark/medium.woff) format("woff")
}
@font-face{
  font-family:FfMarkRegular;
  src:url(/assets/fonts/ff-mark/regular.woff) format("woff")
}
@font-face{
  font-family:FfMarkBold;
  src:url(/assets/fonts/ff-mark/bold.woff) format("woff")
}
@font-face{
  font-family:FfMarkLightNarrow;
  src:url(/assets/fonts/ff-mark-narrow/light.woff) format("woff")
}
@font-face{
  font-family:FfMarkXLightNarrow;
  src:url(/assets/fonts/ff-mark-narrow/xlight.woff) format("woff")
}
@font-face{
  font-family:FfMarkRegularNarrow;
  src:url(/assets/fonts/ff-mark-narrow/regular.woff) format("woff")
}
@font-face{
  font-family:FfMarkMediumNarrow;
  src:url(/assets/fonts/ff-mark-narrow/medium.woff) format("woff")
}

* {
  padding: 0;
  margin: 0;
}

a:not([href]):not([tabindex]) {
  color:  #141413;
}

html {
  word-wrap: break-word;
}

body {
  font-family: Lato,FfMarkRegularNarrow,Arial,sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
  color: #141413;
  -webkit-tap-highlight-color: #141413;

  h1 {
    font-family: FfMarkLight,Helvetica,Arial,sans-serif;
    font-size: 60px;
    line-height: 78px;
    font-weight: 400;
  }

  h2 {
    font-family: FfMarkRegular,Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: -0.6px;
    margin-top: 32px;
    font-weight: 400px;
  }
}

.wrapper {
  display: flex;
  width: 100%;
}

.sidebar {
  min-width: 260px;
  max-width: 260px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  color: #fff;
  transition: all 0.3s;
  border-right: 1px solid #e7e5e0;

  .header-global {
    height: 155px;
    display: block;
    position: relative;
    transform: translateX(0);
    padding: 40px;
    overflow: hidden;

    #logoLink {
      width: 180px;
      display: flex;
    }
  }

  #cls-2 {
    width: 34px;
    margin-left: 29px;
    transform-origin: 50% 50%;
  }

  #cls-1 {
    width: 34px;
    transform-origin: 50% 50%;
    position: absolute;
    left: 0;
    top :0;
  }

  .mastercard-logo-cogs {
    height: 34px;
    width: 64px;
    font-size: 16px;
    margin-bottom: 6px;
    position: relative;
  }

  .mastercard-logo-type {
    height: 32px;
    padding-left: 10px;
    position: static;
    font-size: 16px;
    line-height: 22px;
    transition: all .1s ease-in;
    width: 90px;
  }

  #wordmark {
    width: 80px;
    height: 100%;
  }
}

.nav {


  width: 260px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 80px;

  .back-to-menu {
    transition: all .3s ease-in-out;
    font-family: FfMarkMediumNarrow,Helvetica,Arial,sans-serif;
    z-index: 1;
    position: relative;
    left: 0;
    top: 0;
    padding: 0;
    cursor: pointer;
    right: 40px;
    font-size: 14px;
    line-height: 18px;
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3cfc8;
    background: #fdfcfc;
    width: 180px;
  }

  .page-title {
    transition: all .3s ease-in-out;
    font-family: FfMarkMediumNarrow,Helvetica,Arial,sans-serif;
    z-index: 1;
    position: relative;
    left: 0;
    top: 0;
    padding: 0;
    cursor: pointer;
    right: 40px;
    font-size: 14px;
    line-height: 18px;
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3cfc8;
    background: #fdfcfc;
    width: 180px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  #dtoc {
    width: 180px;
    padding-top: 15px;
  }

  .menu {
    color: #141413;

    li {
      list-style: none;
    }

    .menu__level2 {
      margin-bottom: 30px;
    }

    h4 {
      font-family: FfMarkRegularNarrow,Helvetica,Arial,sans-serif;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 2px;

      font-size: 18px;
      line-height: 22px;

      &:hover {
        color: #ff7e00;
      }
    }
  }
}

  .nav--secondary {
    padding: 40px;
  }


.content {
  margin-left: 261px;
  width: 100%;
}

.hero {
  position: relative;
  display: flex;
  margin-bottom: 5rem;
  width: 100%;
  margin-bottom: 50px;
  background-color: #000;
  color: #fff;

  .header-area {
    margin-left: 90px;
    margin-right: 90px;
    min-height: 300px;
    padding-top: 120px;
    padding-bottom: 60px;
    box-sizing: border-box;
    line-height: 22px;
  }

  .animation {
    position: absolute;
    top: 0;
    right: 0;

  }
}

.content-area {
  margin-left: 90px;
  margin-right: 90px;
}

.networks {
  overflow: auto;
  text-align:center;
  padding: 0;

  li {
    list-style: none;
    float: left;
    display: block;
    width: 150px;
    height: 150px;
    background-color: #ff8b1a;
    margin:15px 15px 0 0;
    color: #fff;
    font-family: FfMarkLight;
    font-size: 25px;
    padding-top: 55px;
    font-weight: bold;
  }
}

.actions {

  margin-top: 40px;

  .button {
    margin-top: 32px;
    border: 1px solid #fff;
    background: #fff;
    width: 210px;
    padding: 9px 15px;
    margin-right: 24px;
    position: relative;
    color: #ff7e00;
    font-size: 14px;
    border: 1px solid #ff7e00;
    box-shadow: inset 0 0 0 1px #ff7e00;
    border-radius: 4px;
  }
}
