<div class="hero">
  <div class="header-area">
    <h1>Network Designer</h1>
  </div>
  <div class="animation">
    <svg id="svg2" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" height="125.65mm" width="139.73mm" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 500.09864 370.30013">
      <g id="layer1" transform="translate(-220.44 -122.83)" >
        <g stroke-linejoin="round" fill-opacity="0" stroke="#fff" stroke-width="2">
          <ellipse id="path4136" rx="126.53" ry="120.95" cy="453.18" cx="347.97"/>
          <ellipse id="path4138" rx="83.721" ry="79.069" cy="202.9" cx="630.81"/>
          <ellipse id="path4140" rx="59.546" ry="56.755" cy="214.07" cx="409.38"/>
        </g>
        <path id="path4163" d="m382.54 337.42 18.312-64.339" stroke="#fff" stroke-width="2" fill="none"/>
        <path id="path4165" d="m450.32 380.61c119.09-119.09 120.95-119.09 120.95-119.09" stroke-width="0" fill="none"/>
      </g>
    </svg>
  </div>
</div>

<div class="content-area">
  <h2>My Networks</h2>

  <div class="row">
    <div class="col">
      <ul class="networks">
        <li *ngFor="let network of networks"
          [class.selected]="network === selectedNetwork"
          (click)="onSelect(network)">
          <span class="badge">{{network.id}}</span> {{network.name}}
        </li>
      </ul>

      <div class="actions">
        <a class="button" routerLink="/new-network">Create Network</a>
      </div>

    </div>
    <div class="col">
      <div class="vis-detail">
        <app-network-detail [network]="selectedNetwork" [watch]="watch"></app-network-detail>
      </div>
    </div>
  </div>
</div>
