
<div class="login-area">
<h1>Log in</h1>

<form class="mc-form">
  <div class="form-group">
    <div class="input-container">
      <input type="email" class="form-control form-control-lg" id="loginPageEmail" placeholder="Email Address" maxlength="250" value="">
      <div class="input-container__extras"><span class="validator-icon"></span></div>
    </div>
  </div>
  <input type="email" name="dummy-email" style="display: none;">
  <div class="input-container">
    <div class="input-wrapper --is-empty">
      <input type="password" id="password" class="form-control form-control-lg" placeholder="Password" maxlength="255" autocomplete="new-password">
    </div>
  </div>
  <small class="mc-form__footer"><a href="#" id="loginPageForgotYourPasswordLink">Forgot your Password?</a></small>
  <div class="button-section">
    <button id="loginPageSubmitBtn" class="btn btn-primary btn-lg"
      type="submit"
      (click)="doLogin()">Log in</button>
  </div>
</form>
</div>
