.login-area {
  margin-top: 60px;
  margin-right: 90px;
  margin-bottom: 90px;
  margin-left: 90px;

  input {
    font-size: 16px;
    color: rgb(20, 20, 19);
  }

  .mc-form {
    width: 500px;
    margin-top: 25px;
  }

  .input-container {
    margin-bottom: 26px;
  }

  small a {
    transition: all .2s ease-in-out;
    position: relative;
    color: #ff7e00;
  }


  .button-section {
    margin-top: 30px;
  }

  #loginPageSubmitBtn {
    width: 210px;
    font-size: 16px;
  }
}
